/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /* General Styles */

   html {
    font-size: 16px;
   }


   header,
   footer {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   header {
    background-color: black;
   }

   body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    text-align: left;
    color: #e2e3ed;
   }
   
   ul,
   ol {
    list-style-type: none;
   }

  #work li {
    color: white;
   }
  a {
    color: #e2e3ed;
    text-decoration: none;
  }

  figure {
    margin: 0;
  }

  img {
    max-width: 100%;
  }

  .content-wrapper {
    width: 90%;
    margin: 50px 0;
  }

  /* Base Styles */

  header,
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  nav ul li a {
     display: flex;
     text-transform: capitalize;
     text-decoration: none;
     color: #f2f1ef;
     list-style: none;  
   }

   h2 {
    font-family: 'Source Sans Pro', sans-serif;
   }

   h3,
   h4 {
    font-family: 'Lora', sans-serif;
    color: #fafad2;
   }
   
    /********Mobile Styles********/

    /*Header*/

  header .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 0;
    width: 100%;
  }

  .header-content {
    width: 90%;
    justify-content: center;
    ;
  }

   img {
    width: 100%;
  }
  .header-divider {
    border: 1px solid #242905;
    width: 100%;
  }
  
  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   }

  header nav ul  {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 60%;
    padding: 0;
    margin: 0;
  }

  header nav ul li {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  nav ul li a {
     font-size: 1em;  
   }
   

   /*Hero Area*/


  .hero-area {
    background-image: url(../img/iron.jpg);
    background-size: cover;
    background-position: 50%;
    min-height: 600px;
    display: flex;
    justify-content: center;
  }


  .hero-area .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
  }

  .hero-content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }

  .hero-content h1 {
    font-size: 2.2em;
    color: lightgoldenrodyellow;
    width: 76%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin: 10px 0 10px  0;
    padding-top: 50px;
  }

   /*****ABOUT*****/

  .mission {
    display: flex;
    justify-content: center;
    background-color: #9ca19a;
    min-height: 300px;
    margin: 0; 
  }

  .mission .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mission-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-flow: row wrap; 
  }

  .mission-content p {
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    font-size: 2em;
    line-height: 1; 
    width: 80%;
    font-weight: 400;
  }
   
  .mission-content h2 {
    font-size: 1.8em;
    width: 100%;
    font-weight: 400;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;

  }

   /*****WORK*****/

   #work {
    background-image: url(../img/gears.jpg);
    background-size: cover;
    background-position: 62%;
    display: flex;
    justify-content: center;
   }

  #work .work-content-wrapper { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
  }

  #work .work-content {
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
    margin: 50px 0;
  }

  #work h2 {
    font-weight: 300;
    margin: 0;
    width: 100%;
    border-bottom: 1px solid grey;
  }

  h3#one, h3#two, h3#three {
    margin-bottom: 50px;
    font-size: 2.375em;
    width: 97%;
  }

  #work h2.sub {
    font-weight: 400;
    width: 76%;
    font-size: 1.8em;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    margin-top: 50px;
  }

  #work h4 {
    font-size: 1.5em;
    font-weight: 400;
    color: #fafad2;
    margin: 20px 0 10px 0;
    padding-top: 50px;
  }

  #work li {
    font-size: 1.5em;
    padding: 20px 0;
  }

  #work ul {
    padding-left: 0;
  }
  #work ul li{
    justify-content: center;
    align-items: center;
  }

  article.first .content-wrapper {
    margin: 0%;
    width: 100%;
  }

  article.second .content-wrapper {
    margin: 0%;
    width: 100%;
  }

  article.third .content-wrapper {
    margin: 0%;
    width: 100%;
  }
  
  article.fourth .content-wrapper {
    margin: 0%;
    width: 100%;
  }

  h4#space {
    font-size: 1.750em;
    font-weight: 700;
    width: 100%;
  }

  /* Footer */



  #contact {
    background-color: #9ca19a;
  }

  #contact .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    margin: 50px 0 0 0;
  }

  #contact h3 {
    color: black;
    text-align: center;
    width: 80%;
    font-size: 2em;
  }
  
  #contact .content-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  #contact h4 {
    font-size: 1.5em;
    width: 50%;
    text-align: center;
    color: white;
  }
  .info-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  
  footer address {
    color: black;
    font-weight: 700;
    font-size: 1.375em;
    width: 67%;
    font-style: normal;
    text-align: center;
  }

  .copyright p {
   margin: 20px 0;
   text-align: center;
   color: black;
   font-size: .875em;
   margin-top: 50px;

 }

  .email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 83%;
  }

 .email  a {
  font-size: 1.375em;
  color: black;
  font-weight: 400;
  width: 85%;
 }

 .email i {
  font-size: 1.5em;
  color: white;
 }

 .contact-content i {
  font-size: 7em;
  color: black;
 }

 footer {
  background-color: #9ca19a;
 }

/*=========================================================
                  ABOUT PAGE
==========================================================*/

/* pending client proposal */







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 768px) {
        
            /*Tablet - general styles */

     .content-wrapper {
        max-width: 640px;
        margin: 100px 0;
     }

     img {
      max-width: 100%;
    }

    .header-divider {
        display: none;
    }


     header .content-wrapper {
        width: 100%;
        flex-flow: row;
        justify-content: space-between;
        margin: 50px;
     }                                              

     header img {
        width: 100%;
      }

     header nav {                                            
        width: 27%;
     }

     header nav ul {
       font-size: 1.250em;
     }
    
    /* Hero Area */

    .hero-area {
      min-height: 700px;
      justify-content: center;
    }

    .hero-content h1 {
      font-size: 2.75em;
      width: 96%;
    }

    /* Mission */

    .mission {
      justify-content: center;
    }

    .mission-content h2 {
      font-size: 2.875em;
    }

    .mission-content p {
      font-size: 2.75em;
      width: 100%;
    }

    /* Work */

    #work {
      display: flex;
      justify-content: center;
    }

    .outline h2 {
      font-size: 2.5em;

    
    }

    .outline h4 {
      font-size: 3em;
      width: 58%;
    }

    .outline h3 {
      font-size: 2em;
    }
    .outline {
      border: 1px solid red;
      box-sizing: border-box;
      display: flex;
      flex-basis: 90%;
      flex-direction: row wrap;
      width: 100%;
      
    }
      
    .outline.casting,
    .clean,
    .identify {
      border: 1px solid blue;
    }





    .casting,
    .clean,
    .identify,
    .gear,
    .oil,
    .complex,
    .gas,
    .bend,
    .wear,
    .aero {
      border: 1px solid orange;
      box-sizing: border-box;
    }

    .casting,
    .clean,
    .identify {
      width: 33.3%;
    }

    .gear,
    .oil,
    .complex,
    .gas {
      width: 25%;
    }

    .bend,
    .wear {
      width: 50%;
    }

    .aero {
      width: 100%;
    }



@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

